<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{name|translate}}</ion-title>
    <ion-buttons slot="end">
      <app-lang></app-lang>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	
	 <ion-card *ngFor="let item of items" class="welcome-card" (click)="openItem(item.id)">
      <img [src]="item.image"/>

      <ion-card-header>
      	<!-- <ion-card-subtitle>{{ item.model }}</ion-card-subtitle> -->
        <ion-card-title>{{ item.name|translate }}</ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
        <p>{{ item.desc }}.</p>
      </ion-card-content> -->
    </ion-card> 
    <ion-infinite-scroll  (ionInfinite)="loadItems($event)">
	  <ion-infinite-scroll-content
	    loadingSpinner="dots">
	  </ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
