<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-capitalize>{{ 'menu' | translate }}</ion-title>

    <ion-buttons slot="end">
      <app-lang></app-lang>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-list lines="none">

      <ion-item button *ngFor="let menu of menus" (click)="go(menu)">
        <ion-icon slot="start" color="medium" [name]="(menu.icon == 'ios-arrow-dropright' && translateService.currentLang=='ar') ? 'ios-arrow-dropleft' : menu.icon"></ion-icon>
        <ion-label text-capitalize >{{menu.name | translate}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
